<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="StyleSheet.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="page-content">
        @RenderBody()
    </div>
</div>

</body>
</html>