@using ViewsExample.Models;
@model Person;

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>title</title>
    <meta charset="UTF-8"/>
    <link href="StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="page-content">
    <h1>Person Details</h1>
    <table>
        <tbody></tbody>
    </table>
</div>
</body>
</html>