@using ViewsExample.Models;
@{
    string appTitle = "Aps.Net Core Demo App";
    Person person = new Person() { Name = "John", DateOfBirth = null, PersonGender = Person.Gender.Male};
}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>@appTitle</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Welcome</h1>
<h2>Hello @person.Name</h2>

@if (person.DateOfBirth.HasValue)
{
    double age = Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays / 365.25);
    <h3>@age years old</h3>
}
else
{
    <h3>Date of birth is unknown</h3>
}

@switch (person.PersonGender)
{
    case Person.Gender.Male:
        <p>November 19 is International Men's day</p>
        ;
        break;
    case Person.Gender.Female:
        <p>March 8 is International Women's day</p>
        ;
        break;
    case Person.Gender.Other:
        <p>March 31 is International Transgender's day</p>
        ;
        break;
}

@for (var i = 0; i < 5; i++)
{
    <p>@i</p>
}

@foreach (var x in new int[] { 1, 2, 3, 4, 5, 6 })
{
    <p>@x - hehe</p>
}

</body>
</html>