<h1>Home</h1>

@await Html.PartialAsync("_ListPartialView")

@* @{ *@
@*     await Html.RenderPartialAsync("_ListPartialView"); *@
@* } *@

@* <partial name="~/Views/Shared/_ListPartialView.cshtml" /> *@