@model string

<div class="list-container">
    <h3>Cities</h3>
    <ul class="list">
        <li>London</li>
        <li>Paris</li>
        <li>New York</li>
        <li>Tokyo</li>
        <li>Kyoto</li>
    </ul>
</div>