@model TModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>title</title>
    <meta charset="UTF-8"/>
    <link href="StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="page-content">
    <h1>All products</h1>

</div>
</body>
</html>