@{
    Layout = "_MasterLayout";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewData["Title"]</title>
    <link href="StyleSheet.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="flex full-size-height">
        <div class="flex-1 grey-back">Sidebar</div>
        <div class="flex-3 white-back">@RenderBody()</div>
    </div>
</div>
</body>
</html>